<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="myPet"
    class="studySpringFromZaurTregulov.Cat">
    </bean>

    <bean id="myPerson"
    class="studySpringFromZaurTregulov.Person">
<!--        <constructor-arg ref="myPet"/> // => внедрение DI с помощью конструктора-->
        <property name="pet" ref="myPet"/> <!-- => внедрение DI с помощью setter-->

        <property name="name" value="Aleksandr"/> <!-- => внедрение DI с помощью строк и других значений через setter-->
        <property name="age" value="30"/>
    </bean>

</beans>